@import "tailwindcss";

:root {
  --bg-main: #4AA3A2;
  --bg-section: #f1f5f9;
  --color-primary: #6366f1;
  --color-primary-soft: #e0e7ff;
  --text-main: #1f2937;
  --text-muted: #6b7280;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}



